# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entorno virtual
venv/
.venv/
env/
ENV/

# Flask / variables privadas
.env
instance/
*.db
app.db

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log